body {
    padding-top: 27vh;

    font-size: 250%;
}

#header {
    height: 15vh;
}

/* http://stackoverflow.com/a/20548578 */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#header img {
    max-height: 15vh;
}

#event {
    font-size: 175%;
    font-weight: bold;
}

.col-name {
    overflow: hidden;
}
