body {
    font-size: 250%;
}

#header {
    height: 15vh;
}

/* http://stackoverflow.com/a/20548578 */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#header img {
    max-height: 15vh;
}

#event {
    font-size: 175%;
    font-weight: bold;
}

.col-name {
    overflow: hidden;
}

#highscore-header {
    clear: left;
}

#highscore {
    padding-top: 15px;
}

#highscore .panel:nth-child(odd) .panel-body {
    background: #F7F7F7;
}

#highscore .col-name {
    line-height: 100%;
    font-size: 115%;
}

#highscore .col-round {
    line-height: 100%;
    font-size: 120%;
}

#highscore .col-total {
    line-height: 100%;
    font-size: 125%;
    font-weight: bold;
}
