#elements {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
}

#elements .panel {
    /* http://stackoverflow.com/a/26854682 */
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}

body {
    padding-top: 70px;
}
